<!-- BEGIN #footer -->
<div id="footer" class="app-footer">
    <span>&copy; 2021 行政院環境保護署空氣污染及噪音管制處</span>
    <span style="text-align:right">成大研究發展基金會</span>
</div>
<!-- END #footer -->

<style>
    .app-footer{
        margin-left:200px;
        padding:2px 2px 2px 2px;
        border-top:hidden;
        line-height:1.5em;
        color:#003E19;
        font-weight:700;
    }
</style>