<!-- BEGIN #footer -->
<div id="footer" class="app-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6" style="text-align:left">&copy; 2021 行政院環境保護署空氣污染及噪音管制處</div>
            <div class="col-6" style="text-align:right">委辦單位：成大研究發展基金會</div>
        </div>
    </div>
</div>
<!-- END #footer -->

<style>
    .app-footer{
        padding:2px 2px 2px 2px;
        border-top:hidden;
        line-height:1.5em;
        color:#003E19;
        font-weight:700;
    }
</style>