
@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.Models
@using Newtonsoft.Json

@{
	ViewData["Title"] = "顯示PLC資訊";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color:#003E19; font-size:25px">PLC資訊維護</div>

<div id = "ControlRegioin">
    <ej-grid id="FlatGrid"
             allow-sorting="true"
             selectiontype="Multiple"
             allow-text-wrap="true"
             allow-grouping="true" group-settings="@(new GroupSettings() { GroupedColumns = new List<string>() { "CNO" }})"
             allow-filtering="true" filter-settings="@(new FilterSettings() { FilterType = FilterType.Excel })"
             allow-paging="true"
             allow-resize-to-fit="true"
             >
        <e-group-settings gouped-columns="CNO"></e-group-settings>
        <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" edit-mode="@(EditMode.Normal)"></e-edit-settings>
        <e-datamanager url="/PLCInfo/UrlDataSource" insert-url="/PLCInfo/Insert" update-url="/PLCInfo/Update" remove-url="/PLCInfo/Remove" adaptor="UrlAdaptor"></e-datamanager>
        <e-toolbar-settings show-toolbar="true" toolbar-items=@(new List<string>() { "add", "edit", "update", "delete", "cancel" })></e-toolbar-settings>
        <e-text-wrap-settings wrap-mode="Header"></e-text-wrap-settings>
        <e-columns>
            <e-column field="PipeNo" header-text="污染源編號" is-primary-key="true" allow-editing="false" text-align="Center"></e-column>
            <e-column field="CNO" header-text="管制編號" allow-editing="false" visible="false" text-align="Center"></e-column>
            <e-column field="PolNo" header-text="管道編號" allow-editing="false" text-align="Center"></e-column>
            <e-column field="SignalType" header-text="訊號種類" text-align="Center"></e-column>
            <e-column field="PLCBrand" header-text="廠牌" text-align="Center"></e-column>
            <e-column field="PLCModel" header-text="型號" text-align="Center"></e-column>
            <e-column field="SelfAssembly" header-text="自行組裝" display-as-checkbox="true" edit-type="BooleanEdit" text-align="Center"></e-column>
            <e-column field="PLCSerial" header-text="序號" text-align="Center"></e-column>
        </e-columns>
    </ej-grid>
</div>

<style>
.e-grid .e-rowcell {
        border-style: solid;
        border-width: 1px 0 0 0;
        display: table-cell;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        padding: 8px 21px;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
}

    .e-grid .e-headercell {
        background-image: linear-gradient(#028C6A, #003E19);
        color: white;
        font-weight: 700;
        font-size: 30px;
    }

.e-columnheader {
    background-color: #003E19;
}

 .e-grid .e-headercelldiv {
    color: white;
    font-weight: 700;
    font-size: 18px;
 }

.e-grid .e-columnheader {
	font-size: 16px;
}

.e-filtertext {
	text-align: center;
}

</style>


