
@using Syncfusion.EJ2
@using Newtonsoft.Json
@{
	ViewData["Title"] = "顯示PLC資訊";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color:#003E19; font-size:25px">PLC資訊維護</div>

<div class="control-wrapper">
    <ejs-grid id="Grid" dataSource="@ViewBag.datasource" allowTextWrap="true" allowFiltering="true" locale="zh_TW" allowPaging="true" toolbar="@(new List<string>(){"Add","Edit","Delete","Cancel"})" actionComplete="true">
		<e-data-manager url="/PLCInfo/UrlDatasource" adaptor="UrlAdaptor"></e-data-manager>
		<e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
		<e-grid-textwrapsettings wrapMode="Header"></e-grid-textwrapsettings>
		<e-grid-pagesettings pageCount="1" pageSizes="true"></e-grid-pagesettings>
		<e-grid-columns>
			<e-grid-column field="CNO"   headerText="管制編號" allowEditing="false" textAlign="Center" width="auto"></e-grid-column>
			<e-grid-column field="PolNo" headerText="管道編號" allowEditing="false" textAlign="Center" width="auto"></e-grid-column>
			<e-grid-column field="SignalType" headerText="訊號種類" textAlign="Center" width="auto"></e-grid-column>
			<e-grid-column field="PLCBrand" headerText="廠牌" textAlign="Center" width="auto"></e-grid-column>
			<e-grid-column field="PLCModel" headerText="型號" textAlign="Center"  width="auto"></e-grid-column>
			<e-grid-column field="SelfAssembly" headerText="自行組裝" displayAsCheckBox="true" editType="" textAlign="Center" width="auto" type="boolean"></e-grid-column>
			<e-grid-column field="PLCSerial" headerText="序號" textAlign="Center" width="auto"></e-grid-column>
		</e-grid-columns>
	</ejs-grid>
</div>

<style>
.e-grid .e-rowcell {
    background-color: #D1EDE1;
    font-size: 16px;
}

.e-grid .e-headercell {
    background-color: #003E19;
    color: white;
	font-weight: 700;
    font-size: 30px;
}

 .e-grid .e-headercelldiv {
    background-color: #003E19;
    color: white;
    font-weight: 700;
    font-size: 18px;
 }

.e-grid .e-columnheader {
	font-size: 16px;
}

.e-filtertext {
	text-align: center;
}

.e-input, textarea.e-input, .e-input-group, .e-input-group.e-control-wrapper {
	text-align: center;
}

</style>


